##
## EPITECH PROJECT, 2022
## Generator
## File description:
## .gitignore
##

# Ignore object files
main.o
generation.o


# Ignore dependency files
main.d
generation.d


# Ignore binary files
generator
generator_tests
a.out

# Ignore coverage reports
*.gc*

# Ignore coding-style logs
coding-style-reports.log
