##
## EPITECH PROJECT, 2022
## Solver
## File description:
## .gitignore
##

# Ignore object files
solver.o
main.o


# Ignore dependency files
solver.d
main.d


# Ignore binary files
solver
solver_tests
a.out

# Ignore coverage reports
*.gc*

# Ignore coding-style logs
coding-style-reports.log
